# Defaults/docs live in src/env.private.ts and src/env.public.ts
AUTH_SECRET="$(openssl rand -base64 32)"

DATABASE_URL="$(pwd)/local.db"

GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""

NEXT_PUBLIC_API_URL="http://localhost:8787"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
