# Defaults/docs live in src/env.private.ts and src/env.public.ts
PUBLIC_APP_ORIGIN="http://localhost:5173"
DATABASE_URL="$(pwd)/local.db"
NODE_ENV="development"
SESSION_SECRET="$(openssl rand -base64 32)"
SMTP_LOGIN=""
SMTP_PASSWORD=""
SMTP_FROM="Crabenv Basic <noreply@example.com>"

POKEMON_ENV=""
